/* Style.css */

* {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.quiz,
.scores {
	margin: 50px auto 0 auto;
	max-width: 400px;
}

#topG {
	color: green;
}

.containerNew {
	border: 5px solid;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 580px;
	width: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

p {
	margin: 15px 15px;
}

.landingKuiz {
	text-align: center;
}

.scoresHeaderKuiz {
	position: absolute;
	top: 15px;
	left: 15px;
}

.timerKuiz {
	position: absolute;
	top: 15px;
	right: 15px;
}

button.a {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	color: #fff;
	background-color: #52865a;
	border-radius: 5px;
	border: 0;
	padding: 20px;
}

buttonKuiz:hover {
	background-color: #2a8d12;
}

.options buttonKuiz {
	display: block;
}

input[type="text"] {
	font-size: 100%;
}

.hide {
	display: none;
}

.feedback {
	font-style: normal;
	font-size: 120%;
	margin-top: 20px;
	padding-top: 15px;
	color: #fff;
	border-top: 2px solid #4B0082;
}

olKuiz {
	padding-left: 15px;
	max-height: 600px;
	overflow: auto;
}

liKuiz {
	padding: 5px;
	list-style: decimal inside none;
}

liKuiz:nth-child(odd) {
	background-color: #dfdae7;
}

@media screen and (max-width: 768px) {
	.containerNew {
		width: 80%;
	}
}

@media screen and (max-width: 575px) {
	.containerNew {
		width: 90%;
	}

	.quiz,
	.scores {
		max-width: 90%;
	}
}
