{% extends "base.html" %}

{% block content %}


    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../static/css/templatemo-topic-listing.css" rel="stylesheet">


    <body id="top">



        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-5 col-12 mb-5">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page"><a href="/pengajaran">Pengajaran</a></li>

                                <li class="breadcrumb-item active" aria-current="page">Pemfaktoran & Algebra</li>
                            </ol>
                        </nav>

                        <h2 class="text-white">Pemfaktoran & Algebra</h2>

                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="topics-detail-block bg-white shadow-lg">
                            <img src="../static/img/teaching/faktor_algebra_profile.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </header>


        <section class="topics-detail-section section-padding" id="topics-detail">
            <div class="container">
                <div class="row">

                    <section class="topics-detail-section section-padding" id="topics-detail">
                        <div class="container">
                            <div class="row">

                                <div class="col-lg-8 col-12 m-auto">
                                    <h2 class="mb-4">Pengenalan</h2>


                                    <h5>Kembangan</h5>
                                    <p><strong>Konsep:</strong> Pendaraban suatu ungkapan dengan suatu
                                        sebutan lain atau ungkapan algebra yang lain.</p>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7TeSNidbBxA"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen
                                                    style="width: 100%; height: 100%;"
                                            ></iframe>
                                        </div>
                                    </div>


                                    <br><br>

                                    <h5>Pemfaktoran</h5>
                                    <p><strong>Konsep:</strong> Proses menulis suatu ungkapan algebra
                                        sebagai hasil darab dua atau lebih sebutan
                                        atau ungkapan algebra.
                                        <br><br> Pemfaktoran ialah songsangan kepada kembangan.<br></p>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dXYx08Jk_5U"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen
                                                    style="width: 100%; height: 100%;"
                                            ></iframe>
                                        </div>
                                    </div>
                                    <br><br>


                                    <h5>Penambahan & Penolakan</h5>
                                    <p><strong>Konsep:</strong> Sebelum menambah atau menolak dua
                                        pecahan algebra, semak penyebutnya dahulu.
                                        Jika penyebutnya tidak sama, anda perlulah
                                        samakannya.<br>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n2_ELcVHVnM"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen
                                                    style="width: 100%; height: 100%;"
                                            ></iframe>
                                        </div>
                                    </div>
                                    <br><br>

                                    <h5>Pendaraban & Pembahagian</h5>
                                    <p><strong>Konsep:</strong> Laksanakan pemfaktoran kepada ungkapan
                                        jika perlu, sebelum pembahagian atau
                                        pendaraban dilakukan.<br>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l89m-Yq9Ftg"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen
                                                    style="width: 100%; height: 100%;"
                                            ></iframe>
                                        </div>
                                    </div>
                                    <br><br>

                                </div>

                            </div>
                        </div>
                    </section>

                    <h2 class="mb-4">Nota</h2>
                    <div class="row my-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-algebra-1.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-algebra-2.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-1 mt-md-1">
                            <img src="../static/img/teaching/material-algebra-3.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>
        </section>


{% endblock %}