<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Puffins | Silent Math Genius</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/slicknav.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="../static/css/gijgo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/animated-headline.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/quiz.css">
    <link rel="stylesheet" href="../static/css/mascot.css">
    <link rel="stylesheet" href="../static/css/leaderboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">

</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="../static/img/logo/icon.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="/"><img src="../static/img/logo/Silent_Genius.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="active"><a href="/home">Home</a></li>
                                        <li><a href="/pengajaran">Pengajaran</a>
                                            <ul class="submenu">
                                                <li><a href="/ukuran_asas">Pengukuran Asas</a></li>
                                                <li><a href="/faktor_algebra">Pemfaktoran & Algebra</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/latihan">Latihan</a></li>
                                        <li><a href="/kuiz">Kuiz</a></li>
                                        <li><a href="{{ url_for('login') }}" class="btn">Daftar Masuk</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

    <main>

        <!--? slider Area Start-->
        <section class="slider-area">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Selamat Datang!</h1>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2 class="mb-4">Jom Terokai</h2>
                        </div>
                    </div>
                </div>
                <div class="courses-actives">
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="/pengajaran"><img src="../static/img/gallery/ajar.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>Pengajaran</p>
                                <h3><a href="/pengajaran">Mari Belajar!</a></h3>
                                <p>Terdapat dua tajuk yang amat seronok untuk and pelajari iaitu <strong>Pengukuran Asas</strong> dan
                                    <strong>Pemfaktoran & Algebra.</strong>

                                </p>
                                <a href="/pengajaran" class="border-btn border-btn2">Mula</a>
                            </div>

                        </div>
                    </div>
                    <!-- Single -->
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="/latihan"><img src="../static/img/gallery/latihan.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>Latihan</p>
                                <h3><a href="/latihan">Jom buat latihan</a></h3>
                                <p>Terdapat banyak latihan yang boleh dilakukan untuk mengukuhkan pengetahuan anda!
                                </p>
                                <a href="/latihan" class="border-btn border-btn2">Mula</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="/kuiz"><img src="../static/img/gallery/kuiz.png" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>Kuiz</p>
                                <h3><a href="/kuiz">Jom main kuiz</a></h3>
                                <p>Mari mencabar minda anda dengan bermain kuiz dengan beberapa tingkat kesusahan!

                                </p>
                                <a href="/kuiz" class="border-btn border-btn2">Mula</a>
                            </div>

                        </div>
                    </div>
                    <!-- Single -->
                </div>
            </div>
        </div>

    </main>

<footer>
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="/"><img
                                            src="../static/img/logo/Silent_Genius.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Pengajaran</h4>
                                <ul>
                                    <li><a href="/ukuran_asas">Jom Belajar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Latihan</h4>
                                <ul>
                                    <li><a href="/latihan">Jom buat Latihan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Kuiz</h4>
                                <ul>
                                    <li><a href="/kuiz">Jom buat Kuiz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<!-- Jquery Mobile Menu -->
<script src="../static/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/animated.headline.js"></script>
<script src="../static/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="../static/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="../static/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../static/js/jquery.counterup.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../static/js/contact.js"></script>
<script src="../static/js/jquery.form.js"></script>
<script src="../static/js/jquery.validate.min.js"></script>
<script src="../static/js/mail-script.js"></script>
<script src="../static/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="../static/js/plugins.js"></script>
<script src="../static/js/main.js"></script>
<!-- <script src="../static/js/quiz2.js"></script> -->
<script src="../static/js/highscore.js"></script>

<!-- Mascot Js -->
<script src="../static/js/mascot.js"></script>

</html>