{% extends "base.html" %}

{% block content %}

        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Latihan</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="/home">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/latihan">latihan</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="section-tittle text-center mb-20">
                            <h2>Mari Buat Latihan!</h2>
                        </div>

                        <div class="row">
                            <div class="properties properties2 mb-30">
                                <div class="properties__card">
                                    <div class="properties__img overlay1">
                                        <a href="/card_ukuran"><img src="../static/img/teaching/latihan-ukur.png" alt=""></a>
                                    </div>
                                    <div class="properties__caption">
                                        <p>Tingkatan 2</p>
                                        <h3><a href="/card_ukuran">Pengukuran Asas</a></h3>
                                        <a href="/card_ukuran" class="border-btn border-btn2">Flashcard!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="properties properties2 mb-30">
                                <div class="properties__card">
                                    <div class="properties__img overlay1">
                                        <a href="/card_algebra"><img src="../static/img/teaching/latihan-algebra.png" alt=""></a>
                                    </div>
                                    <div class="properties__caption">
                                        <p>Tingkatan 2</p>
                                        <h3><a href="/card_algebra">Pemfaktoran & Algebra</a></h3>
                                        <a href="/card_algebra" class="border-btn border-btn2">Flashcard!</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

{% endblock %}