{% extends "login_base.html" %}

{% block content %}


    <main class="login-body"  data-vide-bg="../static/img/bg.mp4">
        <!-- Login Admin -->
        <form class="form-default" action="{{ url_for('login') }}" method="POST">

            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <img src="../static/img/logo/icon.png" alt="">
                </div>
                <h2>Daftar Masuk</h2>
                <div class="form-input">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Masukkan Email">
                </div>
                <div class="form-input">
                    <label for="password">Kata Laluan</label>
                    <input type="password" name="password" placeholder="Masukkan Kata Laluan">
                </div>
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Daftar Masuk">
                </div>

                <!-- Forget Password -->
                <!-- <a href="#" class="forget">Forget Password</a> -->
                <!-- Forget Password -->
                <a href="/register" class="registration">Akaun Baru</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>

{% endblock %}