{% extends "base.html" %}
{% block content %}

<!--? slider Area Start-->
<section class="slider-area slider-area2">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h1 data-animation="bounceIn" data-delay="0.2s">Kuiz</h1>
                            <!-- breadcrumb Start-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/kuiz">kuiz</a></li>
                                </ol>
                            </nav>
                            <!-- breadcrumb End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--? About Area-1 Start -->
<section class="about-area1 fix pt-10" style="padding: 50px;">
    <div class="support-wrapper align-items-center"
        style="display: flex; justify-content: center; align-items: center;">
        <div class="flex-container"
            style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
            <div class="flex-container" style="justify-content: center; align-items: center;">
                <img src="{{ url_for('static', filename='img/mascot/GoldMedal.png')}}" alt="Profile"
                    class="profile-image">
                <a href="/kuizLeaderboard" class="btn hero-btn" data-animation="fadeInLeft"
                    data-delay="0.7s">Leaderboard</a>
                <img src="{{ url_for('static', filename='img/mascot/GoldMedal.png')}}" alt="Profile"
                    class="profile-image">
            </div>
            <br>
            <div class="flex-container" style="justify-content: center; align-items: center;">
                <div>
                    <h1>Algebra</h1>
                </div>
                <div>
                    <a href="/kuizAlgE" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Senang</a>
                    <a href="/kuizAlgM" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Sederhana</a>
                    <a href="/kuizAlgH" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Susah</a>
                </div>
            </div>
            <br>
            <br>
            <div class="flex-container" style="justify-content: center; align-items: center;">
                <div>
                    <h1>Penukaran Unit</h1>
                </div>
                <div>
                    <a href="/kuizUnitE" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Senang</a>
                    <a href="/kuizUnitM" class="btn hero-btn" data-animation="fadeInLeft"
                        data-delay="0.7s">Sederhana</a>
                    <a href="/kuizUnitH" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Susah</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- About Area End -->

{% endblock %}