{% extends "base.html" %}
{% block content %}

<main>
    {% include 'mascot.html' %}



    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Kuiz</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">kuiz</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? About Area-1 Start -->
    <section class="about-area1 fix pt-10" style="padding: 50px;">
        <div class="support-wrapper align-items-center"
            style="display: flex; justify-content: center; align-items: center;">

            <h1>Pilih kesusahan:</h1>
            <a href="/kuizAlgE" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Senang</a>
            <a href="/kuizAlgM" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Sederhanal</a>
            <a href="/kuizAlgH" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Susah</a>


        </div>
    </section>
    <!-- About Area End -->
</main>
{% endblock %}