{% extends "base.html" %}
{% block content %}

    <main>
        {% include 'mascot.html' %}
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Kuiz</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="/">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">kuiz</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">

                <div class="quiz">
                    <div><a href="./highscore.html">
                        <button class="a scores-header"
                                id="view-high-scores">
                            View High Scores
                        </button>
                    </a>
                    </div>
                    <div>
                        <p>
                            Time:
                            <span id="timer">0</span>
                        </p>
                    </div>
                    <div id="quiz-start">
                        <div class="landingKuiz"
                             id="start-screen">
                            <h1 id="topG">
                                GeeksforGeeks
                            </h1>
                            <h1>
                                Coding Quiz Challenge
                            </h1>
                            <p>
                                Try to answer the following
                                code-related questions with
                                in the time limit. Keep in
                                mind that incorrect answers
                                will penalize your score/time
                                by ten seconds!
                            </p>
                            <button class="a" id="start">
                                Start Quiz
                            </button>
                        </div>
                    </div>

                    <div class="hide" id="questions">
                        <h2 id="question-words"></h2>
                        <div class="options" id="options">
                        </div>
                    </div>

                    <div class="hide" id="quiz-end">
                        <h2>All Done!</h2>
                        <p>Your final score is:
                            <span id="score-final">
                    </span>
                        </p>
                        <p>
                            Please enter your name:
                            <input type="text"
                                   id="name"
                                   max="3"/>
                            <button id="submit-score" class="a">
                                Submit
                            </button>
                        </p>
                    </div>

                    <div id="feedback"
                         class="feedback hide">

                    </div>
                </div>

            </div>
        </section>
        <!-- About Area End -->
    </main>

{% endblock %}


