{% extends "login_base.html" %}

{% block content %}


    <!-- Register -->

    <main class="register-body" data-vide-bg="../static/img/bg.mp4">
        <!-- Login Admin -->
        <form class="form-default" action="{{ url_for('register') }}" method="POST">

            <div class="register-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="/"><img src="../static/img/logo/icon.png" alt=""></a>

                </div>
                <h2>Registration Here</h2>

                <div class="form-input">
                    <label for="fullname">Full name</label>
                    <input type="text" name="fullname" placeholder="">
                </div>
                <div class="form-input">
                    <label for="username">Nickname</label>
                    <input type="text" name="username" placeholder="">
                </div>
                <div class="form-input">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" placeholder="">
                </div>
                <div class="form-input">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="">
                </div>
                <div class="form-input">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpassword" placeholder="">
                </div>
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Registration">
                </div>
                <a href="/login" class="registration">login</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>

{% endblock %}