{% extends "base.html" %}

{% block content %}
    <main>
        {% include 'mascot.html' %}
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Pengukuran Asas</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/pengajaran">Pengajaran</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="section-tittle text-center mb-20">
                            <h2>Pengukuran Asas</h2>
                        </div>

                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel"
                                    data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel"
                                    data-slide-to="1"></li>
                                <li data-target="#myCarousel"
                                    data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="overlay-image" style="background-image: url(static/img/teaching/material-1.png);"></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="overlay-image" style="background-image: url(static/img/teaching/material-2.png);"></div>
                                </div>
                                 <div class="carousel-item">
                                    <div class="overlay-image" style="background-image: url(static/img/teaching/material-3.png);"></div>
                                </div>
                            </div>
                            <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
