{% extends "base.html" %}

{% block content %}


    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../static/css/templatemo-topic-listing.css" rel="stylesheet">


    <body id="top">

    <main>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-5 col-12 mb-5">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/pengajaran">Pengajaran</a></li>

                                <li class="breadcrumb-item active" aria-current="page">Pengukuran Asas</li>
                            </ol>
                        </nav>

                        <h2 class="text-white">Pengukuran Asas</h2>

                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="topics-detail-block bg-white shadow-lg">
                            <img src="../static/img/teaching/ukuran.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <section class="topics-detail-section section-padding" id="topics-detail">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 m-auto">
                        <h2 class="mb-4">Pengenalan Pengukuran</h2>

                        <p><strong>Konsep:</strong> Pengukuran adalah proses menentukan panjang, isipadu, berat, atau suhu benda.</p>

                        <h5>Unit Pengukuran</h5>
                        <p><strong>Panjang:</strong> Kilometer(km), meter (m), sentimeter (cm), milimeter (mm).<br>
                            <strong>Contoh Alat:</strong> Pembaris atau pita pengukur.<br></p>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/panjang_alat.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                        <br><br>

                        <p><strong>Isipadu:</strong> Liter (L), mililiter (mL).<br>
                            <strong>Contoh Alat:</strong> Bikar atau silinder ukur.</p>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/isipadu_alat.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                        <br><br>

                        <p><strong>Berat:</strong> Kilogram (kg), gram (g).<br>
                            <strong>Contoh Alat:</strong>Penimbang.</p>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/berat_alat.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                        <br><br>

                        <p><strong>Suhu:</strong> Celsius (°C).<br>
                            <strong>Contoh Alat:</strong>Termometer.</p>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/suhu_alat.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                        <br>


                        <blockquote>
                            "Pengukuran memudahkan kerja harian, mengelakkan kesilapan."
                        </blockquote>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-padding section-bg">
            <div class="container">
                <div class="row justify-content-center">

                    <!--? top subjects Area Start -->
                    <div class="topic-area">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-7 col-lg-8">
                                    <div class="section-tittle text-center mb-20">
                                        <h2 class="mb-4a">Mari Kita Belajar Mengukur!</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-9 col-sm-9">
                                    <div class="single-topic text-center mb-30">
                                        <div class="topic-img">
                                            <img src="../static/img/gallery/panjang.png" alt="">
                                            <div class="topic-content-box">
                                                <div class="topic-content">
                                                    <h3 id="panjangModalTrigger">Panjang</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-9 col-sm-9">
                                    <div class="single-topic text-center mb-30">
                                        <div class="topic-img">
                                            <img src="../static/img/gallery/isipadu.png" alt="">
                                            <div class="topic-content-box">
                                                <div class="topic-content">
                                                    <h3 id="isipaduModalTrigger">Isipadu</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-9 col-sm-9">
                                    <div class="single-topic text-center mb-30">
                                        <div class="topic-img">
                                            <img src="../static/img/gallery/berat.png" alt="">
                                            <div class="topic-content-box">
                                                <div class="topic-content">
                                                    <h3 id="beratModalTrigger">Berat</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-9 col-sm-9">
                                    <div class="single-topic text-center mb-30">
                                        <div class="topic-img">
                                            <img src="../static/img/gallery/suhu.png" alt="">
                                            <div class="topic-content-box">
                                                <div class="topic-content">
                                                    <h3 id="suhuModalTrigger">Suhu</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- top subjects End -->

                </div>
            </div>


        </section>

        <section class="topics-detail-section section-padding" id="topics-detail">
            <div class="container">
                <div class="row">
                    <h2 class="mb-4">Nota Panjang</h2>
                    <div class="row my-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-panjang-1.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-panjang-2.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>
                    <h2 class="mb-4">Nota Isipadu</h2>
                    <div class="row my-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-isipadu-1.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-isipadu-2.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>
                    <h2 class="mb-4">Nota Berat</h2>
                    <div class="row my-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-berat-1.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-berat-2.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>
                    <h2 class="mb-4">Nota Suhu</h2>
                    <div class="row my-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-suhu-1.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <img src="../static/img/teaching/material-suhu-2.png" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Modal Structure for Panjang -->
    <div id="panjangModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- YouTube Iframe Placeholder -->
            <iframe id="panjangModalVideo" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- Modal Structure for Isipadu -->
    <div id="isipaduModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- YouTube Iframe Placeholder -->
            <iframe id="isipaduModalVideo" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Modal Structure for Berat -->
    <div id="beratModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- YouTube Iframe Placeholder -->
            <iframe id="beratModalVideo" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- Modal Structure for Suhu -->
    <div id="suhuModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- YouTube Iframe Placeholder -->
            <iframe id="suhuModalVideo" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}